       <!-- Left Sidebar - style you can find in sidebar.scss  -->
       <aside class="left-sidebar" data-sidebarbg="skin5">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav" class="p-t-30">
                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'master:dashboard' %}" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span></a></li>

                    <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-bank"></i><span class="hide-menu">Institution </span></a>
                        <ul aria-expanded="false" class="collapse  first-level">
                            <li class="sidebar-item"><a href="{% url 'master:school-edit' user.school.id %}" class="sidebar-link"><i class="mdi mdi-tooltip-edit"></i><span class="hide-menu"> Edit Institute </span></a></li>
                            <li class="sidebar-item"><a href="{% url 'master:academic_sessions' %}" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> Academic year </span></a></li>
                        </ul>
                    </li>

                    <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-bank"></i><span class="hide-menu">Master </span></a>
                        <ul aria-expanded="false" class="collapse  first-level">
                            <li class="sidebar-item"><a href="{% url 'master:create-department' %}" class="sidebar-link"><i class="mdi mdi-delete"></i><span class="hide-menu"> Manage Departments </span></a></li>
                            <li class="sidebar-item"><a href="{% url 'classes:create-stream' %}" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> Manage Streams </span></a></li>
                            <li class="sidebar-item"><a href="{% url 'classes:class_list' %}" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> Manage Classes </span></a></li>
                            <li class="sidebar-item"><a href="{% url 'classes:create-subject' %}" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> Manage Subjects </span></a></li>
                            <li class="sidebar-item"><a href="{% url 'classes:create-syllabus' %}" class="sidebar-link"><i class="mdi mdi-select"></i><span class="hide-menu"> Manage class syllabus </span></a></li>
                            <li class="sidebar-item"><a href="{% url 'users:create-staff' %}" class="sidebar-link"><i class="mdi mdi-settings"></i><span class="hide-menu"> Users/Staffs </span></a></li>
                            <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="mdi mdi-settings"></i><span class="hide-menu"> Master Reports </span></a></li>
                        </ul>
                    </li>

                    <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-bank"></i><span class="hide-menu">Student </span></a>
                        <ul aria-expanded="false" class="collapse  first-level">
                            <li class="sidebar-item"><a href="{% url 'students:student-registration' %}" class="sidebar-link"><i class="mdi mdi-delete"></i><span class="hide-menu"> Add student </span></a></li>
                            <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="mdi mdi-delete"></i><span class="hide-menu"> Class Register </span></a></li>
                            <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="mdi mdi-delete"></i><span class="hide-menu"> Class Transfer </span></a></li>
                            <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="mdi mdi-delete"></i><span class="hide-menu"> Promotion </span></a></li>
                            <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="mdi mdi-delete"></i><span class="hide-menu"> Termination </span></a></li>
                            <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="mdi mdi-delete"></i><span class="hide-menu"> Discipline </span></a></li>
                            <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="mdi mdi-delete"></i><span class="hide-menu"> Attendance </span></a></li>
                            <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="mdi mdi-delete"></i><span class="hide-menu"> Reports </span></a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <!-- End Left Sidebar  -->