{% for class in classes %}
  <tr>
    <td>{{ forloop.counter }}</td>
          <td>{{ class.name }}</td>
          <td>{{ class.seat }}</td>
          <td>{{ class.stream }}</td> 
          <td>{{ class.created_by }}</td>
    <td style="width: 150px">
      <button type="button"
              class="btn btn-warning btn-sm js-update-class"
              data-url="{% url 'classes:class_update' class.id %}">
        <span class="glyphicon glyphicon-pencil"></span> Edit
      </button>
      <button type="button"
              class="btn btn-danger btn-sm js-delete-class"
              data-url="{% url 'classes:class_delete' class.id %}">
        <span class="glyphicon glyphicon-trash"></span> Delete
      </button>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="8" class="text-center bg-warning">No classes</td>
  </tr>
{% endfor %}