<!DOCTYPE html>
<html dir="ltr">
    {% load static %}
    {% load widget_tweaks %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>{% block title %}Enter new password{% endblock title %}</title>
    <!-- Custom CSS -->
    <link href="{% static 'dist/css/style.min.css' %}" rel="stylesheet">
</head>

<body>
    <div class="main-wrapper">
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>

        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center bg-dark">
            <div class="auth-box bg-dark border-top border-secondary">
                <div id="loginform">
                    <!-- Form -->
                    {% if validlink %}
                    <form method="POST" class="form-horizontal m-t-20" id="loginform">
                        {% csrf_token %}
                        <div class="row p-b-5">
                            <div class="col-12">
                                <div class="input-group mb-3">
                                    <div class="text-light mb-3">
                                        <h2>Set a new password</h2>
                                    </div>
                                    <<div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-warning text-white" id="basic-addon2"><i class="ti-unlock"></i></span>
                                        </div>
                                        {{form.new_password2|add_class:'form-control-lg form-control'|attr:'placeholder:Password'|attr:'aria-label:Password'|attr:'aria-describedby:basic-addon1'}}

                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-info text-white" id="basic-addon2"><i class="ti-unlock"></i></span>
                                        </div>
                                        {{form.new_password1|add_class:'form-control-lg form-control'|attr:'placeholder:Confirm Password'|attr:'aria-label:Confirm Password'|attr:'aria-describedby:basic-addon1'}}
                                        
                                    </div>
                                    {% for field in form %}
                                            <div class="text-light">
                                                {{ field.errors }}
                                                
                                                {% if field.help_text %}
                                                <p class="help"></p>
                                                {% endif %}
                                            
                                            </div>
                                        {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="border-top border-secondary">
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="pt-3">
                                        <button class="btn btn-success float-left" type="submit">Change My Password</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    {% else %}
                    <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please, request a new password reset.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- All Required js -->
    <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script>

    $('[data-toggle="tooltip"]').tooltip();
    $(".preloader").fadeOut();
    </script>

</body>

</html>