<!DOCTYPE html>
<html dir="ltr" lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicon.png' %}">

    <title>ShuleCom - {% block title %}{% endblock %}</title>

    <!-- Custom CSS -->
    <link href="{% static 'dist/css/style.min.css' %}" rel="stylesheet">
    <link href="{% static 'dist/css/custom.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/libs/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/libs/jquery-minicolors/jquery.minicolors.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/libs/quill/dist/quill.snow.css' %}">

    <!-- custom pages stylesheet -->
    {% block stylesheet %}
    {% endblock stylesheet %}

</head>

<body>
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <!-- Main wrapper - style you can find in pages.scss -->
    <div id="main-wrapper">
  
        {% include 'includes/header.html' %}

        {% include 'includes/sidebar.html' %}   

        <!-- Page wrapper  -->
        <div class="page-wrapper bg-img">
            
            <!-- Container fluid  -->
            <div class="container-fluid">
                {% block content %}
                {% endblock content %}
            </div>
            <!-- End Container fluid  -->

           

        </div>
        {% include 'includes/footer.html' %}
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->

    {% include 'includes/javascript.html' %}

    <!-- Custom pages javascript -->
    {% block javascript %}
    {% endblock javascript %}

</body>

</html>