<form method="post" action="{% url 'classes:class_update' form.instance.pk %}" class="js-class-update-form">
  {% csrf_token %}
  <div class="modal-header bg-primary">
    <h4 class="modal-title text-light">Update class</h4>
  </div>
  <div class="modal-body">
    {% include 'classes/includes/partial_class_form.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Update class</button>
  </div>
</form>