{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}



<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            {% include 'messages.html' %}

            <form method="POST" action="">
                {% csrf_token %}
                <div class="card">
                    <div class="form-head">
                        <h4 class="card-title ml-3 mt-3 text-light"><b>Select Academic Year</b></h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            {{form|crispy}}
                        </div>
                    </div>
                    <div class="border-top">
                        <div class="card-body">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

{% endblock content %}