{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<nav class="navbar navbar-expand-lg context-bar">
      
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
            <a href="{% url 'master:create-department' %}"  class="btn btn-success mr-2">
                <i class="fa fa-list mr-2"></i>
                View</a>
            <a href="{% url 'master:create-department' %}" class="btn btn-info mr-2">
                <i class="fa fa-plus-circle mr-2"></i>
                Add New
            </a>
            <a href="" class="btn btn-danger">
                <i class="fa fa-trash mr-2"></i>
                Delete</a>
      </div>
    </div>
  </nav>


    {% include 'messages.html' %}
    
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-primary mb-2">
                    <h5 class="text-light">Academic Year</h5>
                </div>
                <div class="card-body">
                    <form action="." method="post">{% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="mt-2 btn btn-info btn-block mt-2">Save</button>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-success">
                    <h5 class="text-light">Academic Year</h5>
                </div>
                <div class="card-body">
                    <p><b>academic year:</b> {{session}}</p>
                    <p><b>Closed:</b>                                             {% if session.is_closed %}
                        Yes
                        {% else %}
                        No
                        {% endif %}</p>
                    <p><b>Created by:</b> {{session.created_by}}</p>
                </div>
            </div>
        </div>
                </div>
            </div>
        </div>
    </div>





{% endblock %}