{% extends 'base.html' %}
{% load static %}

{% block javascript %}

<script src="{% static 'classes/js/classes.js' %}"></script>

{% endblock %}

{% block content %}
  <p>
    <button type="button" class="btn btn-primary js-create-class" data-url="{% url 'classes:class_create' %}">
      <i class="fa fa-plus-circle mr-2"></i>
       New class
    </button>
  </p>

  <div class="card">
    <div class="card-header">
      <h4>All Classes</h4>
    </div>
    <div class="card-body">
      <table class="table" id="book-table">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Seats</th>
            <th>Stream</th>
            <th>Created by</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for class in classes %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ class.name }}</td>
              <td>{{ class.seat }}</td>
              <td>{{ class.stream }}</td>
              <td>{{ class.created_by }}</td>
              <td style="width: 150px">
                <button type="button"
                        class="btn btn-warning btn-sm js-update-class"
                        data-url="{% url 'classes:class_update' class.id %}">
                  <span class="glyphicon glyphicon-pencil"></span> Edit
                </button>
                <button type="button"
                        class="btn btn-danger btn-sm js-delete-class"
                        data-url="{% url 'classes:class_delete' class.id %}">
                  <span class="glyphicon glyphicon-trash"></span> Delete
                </button>
              </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="7" class="text-center bg-warning">No classes</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>


    <!-- THE MODAL WE WILL BE USING -->
    <div class="modal fade" id="modal-class">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>

{% endblock %}