{#  /StudX_dir/StudX/student/templates/student/disciplines/discipline_delete_modal.html #}


<!-- Discipline Delete Modal -->
<div class="modal" id="DisciplineDeleteModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">Are you sure ?</div>
			<div class="modal-footer">
				<form action="" method='POST'>
				{% csrf_token %}
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
					<a class="btn btn-secondary" href="">Confirm</a>
				</form>
			</div>
		</div>
	</div>
</div> <!-- Discipline Delete Modal - END -->